!.gitignore
/home/nos3/Install_tools_nos3/*
/home/nos3/CSS_Attacks/*
/home/nos3/Input_Generator/*
/home/nos3/Desktop/github-nos3/*
/home/nos3/eclipse-workspace/frontend/*
/home/nos3/eclipse-workspace/imager/* 
/home/nos3/eclipse-workspace/mission/*
/home/nos3/Scenario_Manager/*
!/home/nos3/Install_tools_nos3/
!/home/nos3/CSS_Attacks/
!/home/nos3/Input_Generator/
!/home/nos3/Desktop/github-nos3/
!/home/nos3/eclipse-workspace/frontend/
!/home/nos3/eclipse-workspace/imager/ 
!/home/nos3/eclipse-workspace/mission/
!/home/nos3/Scenario_Manager/
/Desktop/github-nos3/sims/build
/Desktop/github-nos3/fsw/build
/Desktop/github-nos3/sims/cfg/InOut/Inp_Cmd.txt
/Desktop/github-nos3/sims/cfg/InOut/Inp_IPC.txt
/Desktop/github-nos3/sims/cfg/InOut/Inp_Sim.txt
/Desktop/github-nos3/sims/cfg/routeConfig.txt
/eclipse-workspace/frontend/build/
/eclipse-workspace/mission/build/
/Input_Generator/*.txt
/Input_Generator/__pycache__
