!.gitignore
#Satellite config files
/Desktop/github-nos3/sims/cfg/InOut/Inp_Cmd.txt
/Desktop/github-nos3/sims/cfg/InOut/Inp_IPC.txt
/Desktop/github-nos3/sims/cfg/InOut/Inp_Sim.txt
/Desktop/github-nos3/sims/cfg/routeConfig.txt
/Desktop/github-nos3/stopT.sh
!/Input_Generator/README.txt

#Eclipse files to ignore
/home/nos3/eclipse-workspace/*/.tracecompass
eclipse-workspace/.metadata/
eclipse-workspace/*/.settings/
eclipse-workspace/*/Debug/
eclipse-workspace/*/Dlls/
eclipse-workspace/*/Release/
eclipse-workspace/imager/Inc/
eclipse-workspace/frontend/config.h.in
*.project
*.cproject

#NOS3 misc
Desktop/github-nos3/.vagrant/
Desktop/github-nos3/.cdskeyfile
Desktop/github-nos3/.reservedkeyfile
Desktop/github-nos3/.resetkeyfile
Desktop/github-nos3/.settings/
Desktop/github-nos3/.sh
Desktop/github-nos3/.sh~

#Build files
build/
__pycache__

#TODO - move somewhere else
Desktop/test-misc/

#Desktop misc
*.desktop

#Home files to ignore
.bash_history
.bash_logout
.bashrc
.gdbinit
.mozilla/
.python_history
.ssh/
.vboxclient-clipboard.pid
.vboxclient-draganddrop.pid
.vboxclient-seamless.pid
.vboxclient-vmsvga-session-tty2.pid
.vim/
.viminfo
.cache/
.ansible/
.profile
.swt/
eclipse-inst-jre-linux64/
.Xauthority
.config/
.eclipse/
eclipse/
.vscode/
.dotnet/
.gitconfig
.local/
.p2/
Pictures/
Downloads/
.pki/
snap/

#If someone wants to integrate the thruster in the future (with more modern version of NOS3 -- beware, there may need many adaptations)
Desktop/github-nos3/components/generic_thruster/

#Traffic redirection to ground probe for detection
gatewatcher/ 

#Separate repo
Dataset_Utils/

#Cookies used for updating
cookies/ 
